@using Microsoft.AspNetCore.Mvc.Localization;
@using lessson26_LocalizatoinInMVC.Localization;

@inject IHtmlLocalizer<LocalizedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Home Page {0}", "!"];
}


<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["Welcome"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
